@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800;900&family=Roboto+Slab:wght@400;600;800;900&family=Roboto:wght@400;700;900&display=swap');
/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */
*{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
.bg{
  background: #dfe6e9;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainHeading{
  font-family: 'Roboto Slab', serif;
  font-size: 45px;
  color: white;
  text-align: center;
}
.mainHeading span{
  color: #30dba5;
}
.MuiAlert-root{
  position: absolute;
  top: 20px;
  left: -100px;
  animation: alert 500ms ease-in-out  1 forwards;
}
@keyframes alert{
  0%{
    left: -500px;
  }
  100%{
    left: 20px;
  }
}
.tickBtn{
  color: "green";
  font-size: "35px";
  cursor: "pointer";
}
.crossBtn{
  color: "red";
  font-size: "35px";
  cursor: "pointer";
}
.similarUserCardOptions{
  display: "grid";
  grid-template-columns: min-content 1fr min-content;
  justify-content: center;
  align-items: center;
}
.similarUserCard{

}
.similarUserCard>div>h1{
text-align: center;
}

.MuiButton-containedPrimary{
  background: #30dba5 !important;
}